<p id="notice"><%= notice %></p>

<p>
  <b>One:</b>
  <%= @test.one %>
</p>

<p>
  <b>Two:</b>
  <%= @test.two %>
</p>

<p>
  <b>Three:</b>
  <%= @test.three %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
